@import '../../../style/variables.scss';

.header__nav p:first-child {
  font-weight: bold;
  color: $dark-shade-75;
}

.headers-and-footers {
  background: #F4F4F6;
  padding: 140px 0;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: 1441px) {
    background: #fff;
  }
}
