.registration {

  width: 100%;
  margin: 0 auto;
  height: 684px;
  background-image: url(./img/background.png);
  background-position: bottom;
  background-size: cover;

  &__wrapper {
    width: 100%;
    position: absolute;
  }

  &__card-registration {
    margin: 18px auto 19px;
  }
}
