@import '../../style/variables.scss';
@import '../../../node_modules/paginationjs/dist/pagination.css';

.pagination {

  display: flex;
  flex-direction: column;
  width: 241px;

  &__text {
    text-align: center;
  }

  #pagination-container {
    margin-bottom: 9px;
  }

  .paginationjs .paginationjs-pages {

    li {
      border: none;
    }

    li.active>a {
      border-radius: 22px;
      background: $main-gradient;
      color: #fff;

      &:hover {
        background: $main-gradient;
      }
    }

    li>a {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 12px;
      line-height: 40px;
      color: $dark-shade-50;
      height: 40px;
      width: 40px;

      &:hover {
        background: none;
      }
    }

    li.paginationjs-next>a {
      font-family: MaterialIcons;
      font-weight: normal;
      font-size: 24px;
      color: #FFFFFF;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 22px;
    }
  }
}
