mixin radio(options={})
  .radio
    each text in options.texts
      label.radio__label
        input(type='radio' name='sex' class='radio__input')
        span.radio__box
          span.radio__check
        .radio__text=text
