.button_colorless {
  background-clip: padding-box;
  border: 2px solid transparent;
  background-color: #FFF;
  color: #BC9CFF;

  padding-left: 18px;
  padding-right: 18px;
  padding-top: 7px;
  padding-bottom: 8px;
  }


//  background-image: linear-gradient(to bottom, #BC9CFF 0%, #8BA4F9 100%);
