include ../../components/logo/logo.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width', initial-scale=1)
    <link href="../../../style/style.scss" rel="stylesheet">

    block styles

    title
      block title

  body
    +logo('grey')

    block content

    block scripts
    script(src='../../../components/logo/logo.js')
