mixin button(options={})
  if options.type == 'color'
    div
      .button__gradient-wrapper
        input(class='button button_type_color'+' '+options.class type="submit" value=options.text)
  else if options.type == 'button'
    .button__gradient-wrapper.button__gradient-wrapper_with-button
      input(class="button button_type_color"+' '+options.class type="submit" value=options.text)
      input(type='submit' value='arrow_forward' class='material-icons button__button')
  else
    div
      .button__gradient-wrapper
        input(class="button button_type_colorless"+' '+options.class type="submit" value=options.text)
