.rate-btn__star {
  background-image: $main-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.rate-btn__star:hover+.rate-btn__star-for-hover{
  opacity: 1;
}
.rate-btn__stars:hover~.rate-btn__stars .rate-btn__star-for-hover{
  opacity: 1;
}
