div.colors__wrapper
 -
  var colors = [
    {color: 'colors__rectangle_fill_shade100', textpart1: 'Dark Shade 100%', textpart2: '#1F2041'},
    {color: 'colors__rectangle_fill_shade75', textpart1: 'Dark Shade 75%', textpart2: '#1F2041'},
    {color: 'colors__rectangle_fill_shade50', textpart1: 'Dark Shade 50%', textpart2: '#1F2041'},
    {color: 'colors__rectangle_fill_shade25', textpart1: 'Dark Shade 25%', textpart2: '#1F2041'},
    {color: 'colors__rectangle_fill_shade5', textpart1: 'Dark Shade 5%', textpart2: '#1F2041'},
    {color: 'colors__rectangle_fill_purple', textpart1: 'Purple', textpart2: '#BC9CFF'},
    {color: 'colors__rectangle_fill_green', textpart1: 'Green', textpart2: '#6FCF97'}
  ]
 each val in colors
   div.colors
     div(class= val.color).colors__rectangle
     div
       +text('H2-bold', val.textpart1, 'colors__text')
       +text('H2-normal', val.textpart2)
