@import '../../../style/variables.scss';

.room-details {

  &__photos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 486px;
    width: 1440px;
  }

  &__information {
    width: 1440px;
    padding: 69px 140px 71px;
    grid-template-columns: 280px 360px 380px;
    grid-column-gap: 70px;
    border-bottom: 1px solid $dark-shade-25;
  }

  &__header {
    margin-bottom: 20px;

    &_block {

      &_comments {
        display: inline-block;
      }

      &_rules {
        margin-left: 20px;
        margin-bottom: 19px;
      }

      &_canceling {
        margin-bottom: 19px;
      }
    }
  }

  &__impressions {
    margin-left: 11px;
  }

  &__pie-chart {
    padding-top: 1px;
    display: flex;
  }

  &__pie-chart-central-text-number {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.715rem;
    line-height: 2.143rem;
  }

  &__pie-chart-central-text-word {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.857rem;
    text-transform: uppercase;
    line-height: 1.0715rem;
  }

  &__pie-chart-legend {
    margin-left: 30px;
    margin-top: 26px;
  }

  &__pie-chart-legend-paragraph {
    margin-right: 5px;
  }

  &__card-room-details {
    grid-row: 1/3;
    grid-column: 3/4;
  }

  &__comments {
    grid-column: 1/3;
    padding-top: 1px;
    margin-left: -1px;
  }

  &__comments-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__comments-count {
    color: $dark-shade-50;
    line-height: 14px;
  }

  &__canceling {
    margin-left: 11px;
    width: 341px;
  }
}
