@import '../../../style/variables.scss';

.search-room {
  display: flex;
  padding: 30px 140px 70px;
  border-bottom: 1px solid $dark-shade-25;

  &__filters {
    width: 266px;
    margin-right: 60px;
  }

  &__header {
    margin-bottom: 21px;
  }

  &__rooms {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 12px;
    margin-bottom: 40px;
  }

  &__pagination {
    margin-left: 34.8%;
  }
}
