@import '../../style/variables';
@import './plugin/datepicker';

.date-dropdown {
  min-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 575px) {
    min-width: 250px;
    flex-wrap: wrap;
  }

  &__wrapper {
    height: 44px;
    background: #FFFFFF;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 5.44px;
    color: $dark-shade-75;
    display: flex;
    position: relative;

    @media (max-width: 575px) {
      margin-bottom: 10px;
    }
  }

  &__input {
    width: 104px;
    height: 100%;
    border: 0px solid transparent;
    border-radius: 14px;
    box-sizing: border-box;
    background-color: transparent;
    padding: 0 0 0 15px;
    color: $dark-shade-75;

    &::placeholder {
      color: $dark-shade-75;
    }

    &:focus {
      outline: none;
    }

    @media (max-width: 575px) {
      width: 206px;
    }
  }

  &__button {
    text-align: center;
    line-height: 44px;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
}
