@import '__button/date-dropdown__button';
@import '__wrapper/date-dropdown__wrapper';
@import '__wrapper-with-name/date-dropdown__wrapper-with-name';
@import 'plugin/datepicker';

.date-dropdown {
  width: 106px;
  height: 100%;
  border: 0px solid transparent;
  border-radius: 14px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0 0 0 15px;
  color: $dark-shade-75;
}
.date-dropdown::placeholder {
  color: $dark-shade-75;
}
