mixin date-dropdown(options={})
  .date-dropdown
    div
     h3=options.first_name
     .date-dropdown__wrapper
        input(type='text' class='datepicker-here first-date-dropdown date-dropdown__input' placeholder='ДД.ММ.ГГГГ')
        span.material-icons.date-dropdown__button expand_more
    div
      h3=options.second_name
      .date-dropdown__wrapper
        input(type='text' class='second-date-dropdown date-dropdown__input' placeholder='ДД.ММ.ГГГГ')
        span.material-icons.date-dropdown__button expand_more
