.rate-btn__star-for-hover {
  position: relative;
  left: -24px;
  width: 24px;
  z-index: -1;
  opacity: 0;
  background-image: $main-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
