.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox__input:checked+.checkbox__box {
  border: 1px solid $purple;
}
.checkbox__input:checked+.checkbox__box .checkbox__check {
  visibility: visible;
}
