mixin range-slider(options={})
  .range-slider
    .range-slider__name
      h3='Range Slider'
      .range-slider__values
        span#range-slider__value-min
        span=' - '
        span#range-slider__value-max
    #range-slider__line
