mixin range-slider(options={})
  .range-slider
    .range-slider__name
      +text('H3-bold', 'Range Slider')
      .text-types_type_H3_normal.range-slider__values
        span#range-slider__value-min
        span=' - '
        span#range-slider__value-max
    #range-slider__line
