extends ../layouts/ui-kit

block title
  | Form Elements


block content
  include ../../components/text-field/text-field.pug
  include ../../components/dropdown/dropdown.pug
  include ../../components/date-dropdown/date-dropdown.pug
  include ../../components/filter-date-dropdown/filter-date-dropdown.pug
  include ../../components/checkbox/checkbox.pug
  include ../../components/radio/radio.pug
  include ../../components/toggle/toggle.pug

  .elements__main
    +text-field({
      type:'email',
      name:'Text Field',
      placeholder:'Email',
      state:'Default',
    })
    +text-field({
      type: 'text',
      name: 'Text Field',
      content: 'This is pretty awesome',
      state: 'Hover/Focus'
    })
    +dropdown({
      name: 'Dropdown',
      about: 'guests',
      items: ['Взрослые', 'Дети', 'Младенцы'],
      defaultcounts: [],
      button: true,
      state: 'Default'
    })
    +text-field({
      type: 'text',
      class: 'birthday',
      name: 'masked text field',
      state: 'Default',
      placeholder: 'ДД.ММ.ГГГГ'
    })
    +dropdown({
      name: 'Dropdown',
      about: 'rooms',
      items: ['Спальни', 'Кровати', 'Ванные комнаты'],
      defaultcounts: [2, 2]
    })
    +text-field({
      type: 'email',
      name: 'subscription text field',
      placeholder: 'Email',
      button: true
    })
    +date-dropdown({
      first_name: 'date Dropdown',
      second_name: 'date Dropdown'
    })
    +filter-date-dropdown({
      name: 'filter date dropdown'
    })
    +checkbox-buttons({
      texts: ['Можно курить',
              'Можно с питомцами',
              'Можно пригласить гостей\n(до 10 человек)'
             ],
      name: 'Checkbox Buttons'
    })
    +radio({
      texts: ['Мужчина', 'Женщина'],
      name: 'Radio Buttons'
    })
    +text('H3-bold', 'toggle')
    +toggle({
      text: 'Получать спецпредложения'
    })
    +toggle({
      text: 'Получать спецпредложения'
    })


block scripts
  script(src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous")
  script(src='../../components/dropdown/plugin/item-quantity-dropdown.min.js')
  script(src='../../components/dropdown/dropdown.js')
  script(src="https://unpkg.com/imask")
  script(src='../../components/text-field/text-field.js')
  script(src='../../components/date-dropdown/plugin/datepicker.js')
  script(src='../../components/date-dropdown/__mask/date-dropdown__mask.js')
