.comment {

  &__photo {
    margin-right: 10px;
    vertical-align: bottom;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
    border-radius: 24px;
  }

  &__header {
    display: inline-block;
    vertical-align: top;
  }

  &__name {
    font-weight: bold;
  }

  &__body {
    display: flex;
    margin-top: 10px;
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__like {
    margin-left: 3.97px;
    margin-right: 14.31px;
    margin-top: 2px;
  }
}
