.card {
  width: 380px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px;

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    width: 99px;
  }
}
