@import '../../style/variables.scss';

.icon-text-list {

  &__item {
    border-bottom: 1px solid $dark-shade-10;
    padding-bottom: 20px;
    padding-top: 21px;
  }

  &__icon {
    display: inline-block;
    font-size: 48px;
    line-height: 48px;
    background-color: $purple;
    background-image: $main-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__texts {
    display: inline-block;
    margin-left: 10px;
  }

  &__header {
    font-weight: bold;
    line-height: 10px;
  }
}
