@import '../../../style/variables.scss';

.landing {
  width: 1440px;
  height: 830px;
  background-image: url(./img/background1.png);
  background-position: bottom;

  &__card-search {
    position: absolute;
    margin: 70px 0 0 140px;
  }

  &__text {
    width: 297px;
    text-align: right;
    position: relative;
    top: 761px;
    left: 1010px;
    color: $dark-shade-75;
  }
}
