extends ../layouts/ui-kit

block title
  | Colors & type

block content
  div.wrapper_type_horizontal
    include ../blocks/colors/colors.pug

    div.text-types__wrapper
      -
       var types = [
        {
          type_name: 'H1',
          type_font: 'text-types__name_size_24',
          text_content: 'This one is the sub-section or widget title',
          text_font: 'H1'
        },
        {
          type_name: 'H2',
          type_font: 'text-types__name_size_19',
          text_content: 'Next one is the item title inside widgets',
          text_font: 'H2-bold'
        },
        {
          type_name: 'H3',
          type_font: 'text-types__name_size_12',
          text_content: 'This is a label or CTA text',
          text_font: 'H3-bold'
        },
        {
          type_name: 'Body',
          type_font: 'text-types__name_size_14',
          text_content: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
          text_font: 'Body'
        }
       ]
      each val in types
        .text-types
          div(class= val.type_font).text-types__name= val.type_name
          if val.type_name == 'Body'
            +text(val.text_font, val.text_content, 'text-types_type_Body_width')
          else
            +text(val.text_font, val.text_content)
