extends ../layouts/ui-kit

block title
  | Form Elements

block content
  include ../blocks/text-field/text-field.pug
  include ../blocks/dropdown/dropdown.pug

  .elements__main
    +text-field('Text Field', 'Email', 'Default')
    +text-field('Text Field', 'This is pretty awesome', 'Hover/Focus')
    +dropdown('Dropdown', 'Сколько гостей')
