extends ../layouts/ui-kit

block title
  | Form Elements

block styles
  <link href="../plagins/item-quantity-dropdown.min.css" rel="stylesheet">

block content
  include ../blocks/text-field/text-field.pug


  .elements__main
    +text-field('Text Field', 'Email', 'Default')
    +text-field('Text Field', 'This is pretty awesome', 'Hover/Focus')
    include ../blocks/dropdown/dropdown.pug

    block scripts
    script(src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous")
    script(src='../plagins/item-quantity-dropdown.min.js')
    script(src='../plagins/dropdown.js')
    
