mixin text(type, content, add_selector)
  if type == 'H1'
    div(class = add_selector).text-types_type_H1= content
  else if type == 'H2-bold'
    div(class = add_selector).text-types_type_H2_bold= content
  else if type == 'H2-normal'
    div(class = add_selector).text-types_type_H2_normal= content
  else if type == 'H3-bold'
    div(class = add_selector).text-types_type_H3_bold= content
  else if type == 'H3-normal'
    div(class = add_selector).text-types_type_H3_normal= content
  else if type == 'Body'
    div(class = add_selector).text-types_type_Body= content
