.like-button__val {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  line-height: 12px;
  color: $dark-shade-25;
}
.like-button__val::before {
  content: 'favorite_border';
  font-family: MaterialIcons;
  display: inline-block;
  width: 20px;
  font-size: 10px;
  line-height: 9px;
  text-align: center;
  color: $dark-shade-25;
}
