@import '../../style/variables.scss';

.header {
  height: 70px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
  display: grid;
  grid-template-columns: auto 447px 87px 196px;
  grid-column-gap: 20px;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 0 140px;

  @media (max-width: 1200px) {
    height: 94px;
    padding: 15px 5vw;
    grid-template-columns: auto 87px 196px;
    grid-template-rows: 40px 40px;
  }
  @media (max-width: 480px) {
    height: auto;
    padding: 5px 0;
    grid-template-columns: auto 70px 177px auto;
    grid-template-rows: 40px 25px 40px;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    justify-items: center;
  }

  &__logo {
    flex-grow: 1;

    @media (max-width: 480px) {
      grid-column: 1/5;
    }
  }

  &__nav {
    color: $dark-shade-50;
    width: 447px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 17px;
    vertical-align: middle;

    @media (max-width: 1200px) {
      grid-row: 2/3;
      grid-column: 1/4;
      justify-self: center;
    }

    @media (max-width: 480px) {
      grid-row: 3/4;
      grid-column: 1/5;
      width: 80vw;
      flex-wrap: wrap;
      padding-bottom: 10px;
      font-size: 12px;
      justify-content: space-around;
    }
  }

  &__color-button {
    padding-top: 9px;
    padding-bottom: 10px;

    @media (max-width: 480px) {
      padding: 4px 10px 6px;;
    }
  }

  &__uncolor-button {
    padding-top: 7px;
    padding-bottom: 8px;

    @media (max-width: 480px) {
      padding: 3px 10px 4px;
    }
  }

  &__button-container {

    &_type {

      &_uncolor {
        @media (max-width: 1200px) {
          grid-column: 2/3;
          grid-row: 1/2;
        }
        @media (max-width: 480px) {
          grid-column: 2/3;
          grid-row: 2/3;
        }
      }

      &_color {
        @media (max-width: 1200px) {
          grid-column: 3/4;
          grid-row: 1/2;
        }
        @media (max-width: 480px) {
          grid-column: 3/4;
          grid-row: 2/3;
        }
      }
    }
  }

  &__entered {
    grid-column: 4/5;
    justify-self: end;
    display: flex;

    @media (max-width: 1200px) {
      grid-column: 3/4;
    }
    @media (max-width: 860px) {
      grid-row: 2/3;
      grid-column: 1/4;
      justify-self: center;
      flex-wrap: wrap;
    }
    @media (max-width: 653px) {
      max-width: 450px;
      justify-content: flex-end;
    }
    @media (max-width: 480px) {
      grid-row: 3/4;
      margin-top: -40px;
    }
  }

  &__username {
    color: $dark-shade-50;
    line-height: 30px;
    white-space: pre;
  }

  &__rectangle {
    width: 1px;
    height: 30px;
    margin: 0 20px;
    background: $dark-shade-10;

    @media (max-width: 653px) {
      display: none;
    }
  }
}
