header.header
  +logo('color')
  nav.nav.header__nav
    each val in ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
     if val == 'Услуги' || val == 'Соглашения'
       p= val
            span.material-icons expand_more
     else
       p= val


  div.button_wrapper-gradient-border.header__button-entrance
    input(class="button button_colorless" type="submit" value="ВОЙТИ")
  input(class="button button_color header__button-registration" type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ")
