.text-field_with-button {
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  padding: 0 0 0 15px;
  color: $dark-shade-75;
  border: none;
  background-color: transparent;
}

.text-field_with-button::placeholder {
  color: $dark-shade-25;
}
.text-field_with-button:focus {
  outline: none;
  color: $dark-shade-75;
}
