.text-field__field {
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
}
.text-field__field:hover {
  color: $dark-shade-75;
  border: 1px solid $dark-shade-50;
}
.text-field__field:focus {
  outline: none;
  color: $dark-shade-75;
  border: 1px solid $dark-shade-50;
}
