mixin filter-date-dropdown(options={})
  div.filter-date-dropdown__wrapper-with-text
    +text('H3-bold', options.name)
    div.filter-date-dropdown__wrapper
      input(class='filter-date-dropdown text-types_type_Body' placeholder='дд мм - дд мм')
      span.material-icons.filter-date-dropdown__button expand_more
