mixin filter-date-dropdown(options={})
  .filter-date-dropdown
    h3=options.name
    .filter-date-dropdown__wrapper
      input(class='filter-date-dropdown__input' placeholder='дд мм - дд мм')
      span.material-icons.filter-date-dropdown__button expand_more
