.toggle__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.toggle__input:checked+.toggle__box {
  border-color: $purple;
}
.toggle__input:checked+.toggle__box .toggle__check{
  background: $main-gradient;
  left: 23px;
}
