mixin checkbox-buttons(options={})
  .checkbox
    h3.checkbox__name=options.name
    each text in options.texts
      label.checkbox__label
        input(type='checkbox' class='checkbox__input')
        span.checkbox__box
          span.checkbox__check
        .checkbox__text=text
