@import '../../style/variables.scss';

.bullet-list {

  &__name {
    margin-bottom: 13px;
  }

  &__item {
    list-style-type: none;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__marker {
    width: 10.43px;
    height: 10px;
    margin-right: 10px;
    color: $dark-shade-25;
  }

  &__text {
    display: inline;
    line-height: 24px;
    white-space: pre;
  }
}
