@import '../../style/variables.scss';

.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  &__top-block {
    display: grid;
    grid-template-columns: 260px 160px 160px 160px 260px;
    grid-column-gap: 2.77777777vw;
    padding: 6.944444444vw 9.7222222222vw;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px $dark-shade-10;
    margin-bottom: 1px;

    @media (min-width: 1440px) {
      padding: 100px 140px;
    }
    @media (min-width: 992px) and (max-width: 1439px) {
      grid-template-columns: auto 160px 160px 160px;
      grid-row-gap: 40px;
    }
    @media (min-width: 766px) and (max-width: 991px) {
      grid-template-columns: 40% 40% 30%;
      grid-row-gap: 40px;
    }
    @media (min-width: 576px) and (max-width: 765px) {
      grid-template-columns: auto 35%;
      grid-row-gap: 25px;
      grid-column-gap: 7vw;
      padding: 6.944444444vw 15vw;
    }
    @media (min-width: 480px) and (max-width: 575px) {
      grid-template-columns: 50% 50%;
      grid-row-gap: 30px;
      justify-items: center;
    }
    @media (max-width: 480px) {
      grid-template-columns: auto;
      grid-row-gap: 30px;
      padding: 6.944444444vw 10vw;
      justify-items: center;
    }
  }

  &__title {
    margin-top: 5px;
  }

  &__list {
    min-width: 143px;
    line-height: 18px;
    color: $dark-shade-50;
  }

  &__first-block {
    @media (min-width: 480px) and (max-width: 575px) {
      grid-column: 1/3;
    }
  }

  &__last-block {
    @media (min-width: 480px) and (max-width: 575px) {
      grid-column: 1/3;
    }
  }

  &__bottom-block {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 23px 9.7222222222vw;
    box-shadow: 0px 10px 20px $dark-shade-5;
  }

  &__copyright {
    line-height: 24px;
    margin-right: 5px;

    &_for-creative {
      line-height: 18px;
      margin: 20px 0 25px;
      text-align: center;
    }
  }

  &__icons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 20px;
    align-items: center;
  }

  &__icon {
    font-family: FontAwesome5Brands;
    font-size: 24px;
    line-height: 23px;
    background-color: $purple;
    background-image: $main-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 24px;
  }

  &__creative {
    padding: 120px 104px;
    background: #fff;
    width: 768px;
    box-shadow: 0px 10px 20px $dark-shade-5;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 766px) {
      padding: 70px 50px;
      width: auto;
    }
  }
}
