//-
  options.text - подпись

mixin toggle(options={})
  label.toggle
    input(type='checkbox' class='toggle__input')
    span.toggle__box
      span.toggle__check
    +text('Body', options.text, 'toggle__text')
