doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
  body
    include ./components/logo/logo.pug
    include ./components/header/header.pug
    main
    footer

    script(src='./index.js')
