extends ../layouts/ui-kit

block title
  | Cards

block content
  include ../../components/card/card.pug

  .cards
    +card-search()
    +card-registration()
    +card-room-details()
    +card-enter()
    +card-room({
      photo: '../../img/room1.png',
      number: '888',
      type: ' люкс',
      price: '9 990₽',
      stars: '5',
      review: '145',
      arrows: true
    })
    +card-room({
      photo: '../../img/room2.png',
      number: '840',
      price: '9 900₽',
      stars: '4',
      review: '65'
    })

block scripts
  script(src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous")
  script(src='./cards.js')
  script(src='../../components/card/card.js')
