doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    <link href="../style.scss" rel="stylesheet">

    block styles

    title
      block title

  body
    include ../blocks/logo/logo.pug
    include ../blocks/text-types/text-types.pug
    +logo('grey')

    block content

    block scripts
