doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    <link href="../path/plagins/item-quantity-dropdown.min.css" rel="stylesheet">
    title
      block title
  body
    include ../blocks/logo/logo.pug
    include ../blocks/text-types/text-types.pug
    +logo('grey')

    block content

    script(src='../index.js')
    script(src='../plagins/item-quantity-dropdown.min.js') 
