//-
  options.val - количество активных звёзд;

mixin rate-btn(options={})
  .rate-btn
    - for(var i=0; i<5-options.val; i++)
      .rate-btn__stars
        span.material-icons.rate-btn__star star_border
        span.material-icons.rate-btn__star_for-hover star
    - for(var i=5-options.val; i<5; i++)
      .rate-btn__stars
        span.material-icons.rate-btn__star star
        span.material-icons.rate-btn__star_for-hover star
